.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    overflow: hidden;
}

.main .contact-sect {
    width: calc(100% - 4rem);
    max-width: 600px;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

:is(.cip-main, .contact-sect) header {
    width: fit-content;
    position: relative;
    align-self: left;
    z-index: 1;
    font-size: 1.6rem;
    font-weight: 700;
    color: var(--text-1);
    text-align: left;
    border-radius: .5rem;
    margin: 3rem 0 1.5rem;
    padding: .5rem 0;
    line-height: 1.5rem;
}

:is(.cip-main, .contact-sect) header::after {
    position: absolute;
    content: '';
    width: 3.5rem;
    height: 4px;
    background-color: var(--border-line);
    bottom: -1rem;
    left: 0;
    border-radius: 1rem;
}

section.about article {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

section.about article span {
    width: calc(100% - 4rem);
    height: 12rem;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    border-radius: .5rem;
    background-color: var(--surface-4);
}

section.about article span img {
    width: 5rem;
    height: auto;
    filter: var(--filter);
}

section.about article span p {
    font-size: .9rem;
    text-align: center;
    color: var(--text-2);
}

section.learn-more {
    width: calc(100% - 4rem);
    max-width: calc(100% - 4rem);
    padding: 3rem 2rem !important;
    background-position: center;
    background-size: 150%;
    background-repeat: no-repeat;
    background-image: linear-gradient(180deg, var(--opaq), var(--opaq-1)), url(../../../../public/assets/images//gradient-2.webp);
}

section.learn-more h3 {
    color: var(--text-1);
}

section.learn-more .cards {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.cards .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    padding: 1.5rem 1rem;
    border-radius: .5rem;
    background-color: var(--opaq);
}

.cards .card:hover {
    background-color: var(--opaq-1);
}

.cards .card h2 {
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    color: var(--text-1);
}

.card div {
    display: flex;
    align-items: center;
    gap: .2rem;
}

.card div p {
    font-size: .9rem;
}

.card div svg path {
    stroke: var(--brand);
}

section.cip-main {
    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-template-columns: auto;
    row-gap: 2rem;
    width: calc(100% - 4rem);
    max-width: 600px;
    padding: 0 2rem;
}

section.cip-main div.intro {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

div.intro p {
    color: var(--text-2);
    font-size: .9rem;
}

div.intro ol {
    list-style: none;
    counter-reset: num;
    display: flex;
    flex-direction: column;
    gap: .5rem;

}

div.intro ol li {
    counter-increment: num;
    font-size: .9rem;
    font-weight: 500;
    color: var(--text-1);
}

div.intro ol li::before {
    padding: .2rem .5rem;
    margin-right: .5rem;
    border-radius: .2rem;
    content: counter(num);
    font-weight: 700;
    color: var(--text-2);
    border: 1px solid var(--surface-4);
    background-image: linear-gradient(to right bottom, var(--border-line), var(--opaq));
    font-size: .7rem;
}

div.form {
    background-color: var(--surface-1);
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

:is(div.form, section.form-box) form {
    display: flex;
    flex-direction: column;
    gap: .8rem;
}

form div.input {
    width: 100%;
    height: 5rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

form div.input label {
    position: absolute;
    font-size: .9rem;
    color: var(--text-2);
    top: 1.75rem;
    left: 1.4rem;
    transform: translateY(-50%);
    transition: all .3s ease;
    cursor: text;
}

form div.input input {
    width: calc(100% - 2.4rem);
    height: 3.5rem;
    border-radius: .3rem;
    font-size: 1rem;
    font-weight: 700;
    color: var(--text-2);
    vertical-align: top;
    text-align: start;
    padding: 0 1rem 0 1.4rem;
    background-image: linear-gradient(to right bottom, var(--surface-4), var(--opaq));
    outline: 1px solid var(--border-line);
}

form div.input:nth-child(6) {
    height: 9rem;
}

form div.input textarea {
    width: calc(100% - 2.4rem);
    height: 70%;
    border: none;
    resize: none;
    border-radius: .3rem;
    font-size: 1rem;
    font-weight: 700;
    color: var(--text-2);
    vertical-align: top;
    text-align: start;
    padding: 1rem 1rem .5rem 1.4rem;
    background-image: linear-gradient(to right bottom, var(--surface-4), var(--opaq));
    outline: 1px solid var(--border-line);
}

form div.input input:focus,
form div.input input.not-empty,
form div.input textarea:focus,
form div.input textarea.not-empty {
    outline: 1px solid var(--border-line);
    border-bottom: 2px solid var(--border-line);
    background: none;
}

form div.input input:focus+label,
form div.input input.not-empty+label,
form div.input textarea:focus+label,
form div.input textarea.not-empty+label {
    top: -.7rem;
    left: 1rem;
    font-size: .7rem;
    font-weight: 600;
    transform: none;
    padding: 0 .2rem;
    color: var(--text-2);
    background-color: var(--surface-1);
}

form div.input .err {
    color: var(--brand);
    font-size: .6rem;
    font-weight: 600;
}

form button.submit {
    width: 7rem;
    padding: .8rem 0;
    border-radius: .3rem;
    font-weight: 700;
    color: var(--surface-1);
    background-image: linear-gradient(319deg, var(--brand) 0%, #ff6425 63%, #ffcb43 100%);
}

form button.submit:hover {
    background-clip: text;
    -webkit-text-fill-color: transparent;
    outline: 1px solid var(--border-line);
    background-image: linear-gradient(319deg, #ffcb43 0%, #ff6425 37%, var(--brand) 100%);
}

div.story {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

div.story .review p {
    shape-outside: url('../../../../public/assets/images/dpF2.webp');
    shape-margin: 10px;
    font-size: .8rem;
    font-family: var(--montserrat-italic), sans-serif;
}

div.story .review img {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    float: right;
    margin-left: 10px;
}

div.story .details {
    display: flex;
    flex-direction: column;
    gap: .3rem;
    position: relative;
}

div.story .details::before {
    position: absolute;
    content: '';
    width: 3.5rem;
    height: 4px;
    background-color: var(--border-line);
    top: -1rem;
    left: 0;
    border-radius: 1rem;
}

div.story .details .name {
    color: var(--brand);
    font-size: 1rem;
    font-weight: 800;
}

div.story .details .role {
    color: var(--text-2);
    font-size: .8rem;
    font-weight: 600;
    font-family: var(--montserrat-italic), sans-serif;
}

@media only screen and (min-width: 600px) {
    :is(div.form, section.form-box) form {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        gap: .8rem 1rem;
    }

    form div.input {
        width: 48%;
        height: 5rem;
    }

    form div.input:nth-child(5),
    form div.input:nth-child(6) {
        width: 100%;
    }

    section.learn-more {
        padding: 3rem 4rem !important;
        width: calc(100vw - 8rem) !important;
        max-width: calc(100vw - 8rem) !important;
    }
}

@media only screen and (min-width: 768px) {
    section.contact-sect {
        justify-content: center;
        align-items: center;
        padding-bottom: 5rem;
        width: calc(100% - 6rem);
        max-width: calc(100% - 6rem);
        padding: 0 3rem;
    }

    :is(.cip-main, .contact-sect) header {
        text-align: center;
    }

    :is(.cip-main, .contact-sect) header::after {
        position: absolute;
        content: '';
        width: 3.5rem;
        height: 4px;
        background-color: var(--border-line);
        bottom: -1rem;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 1rem;
    }

    section.cip-main {
        display: grid;
        grid-template-rows: auto auto auto;
        grid-template-columns: 45% 50%;
        row-gap: 2rem;
        justify-content: space-between;
        justify-items: center;
        align-items: flex-start;
        width: calc(100% - 6rem);
        height: 100%;
        max-width: calc(100% - 6rem);
        padding: 0 3rem;
    }

    .cip-main header {
        margin-top: 0 !important;
        grid-row: 1 / span 1;
        grid-column: 1 / span 1;
        align-self: flex-start;
        justify-self: center;
    }

    .cip-main header::after {
        bottom: -1rem;
        left: 50%;
        transform: translateX(-50%);
    }

    .cip-main div.intro {
        display: flex;
        flex-direction: column;
        gap: .5rem;
        grid-row: 2 / span 1;
        grid-column: 1 / span 1;
    }

    div.intro p {
        color: var(--text-2);
    }

    div.intro ol {
        list-style: none;
        counter-reset: num;
        display: flex;
        flex-direction: column;
        gap: .5rem;
    }

    div.intro ol li {
        counter-increment: num;
        font-weight: 500;
        color: var(--text-1);
    }

    div.intro ol li::before {
        padding: .2rem .5rem;
        margin-right: .5rem;
        border-radius: .2rem;
        content: counter(num);
        font-weight: 800;
        color: var(--text-2);
        border: 1px solid var(--surface-4);
        background-image: linear-gradient(to right bottom, var(--border-line), var(--opaq));
        font-size: .7rem;
    }

    /* For Contact page */
    section.form-box form {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        width: calc(90% - 2.6rem);
        padding: 1.5rem 1.3rem;
        border: 1px solid var(--border-line);
        border-radius: .5rem;
        background-image: linear-gradient(to right, var(--surface-2) 85%, var(--surface-4));
    }

    section.form-box form div.input {
        width: 48%;
        height: 5rem;
    }

    section.about article {
        display: flex;
        flex-flow: row nowrap;
        gap: 2rem;
    }

    section.about article span {
        width: 45%;
        height: 100%;
    }

    section.learn-more {
        width: calc(100% - 4rem) !important;
        max-width: calc(100% - 4rem) !important;
    }

    /* For Contact page */

    div.form {
        width: calc(100% - 2.6rem);
        height: fit-content;
        background-color: var(--surface-1);
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        grid-row: 1 / -1;
        grid-column: 2 / span 1;
        padding: 1.5rem 1.3rem;
        border: 1px solid var(--border-line);
        border-radius: .5rem;
        background-image: linear-gradient(to right, var(--surface-2) 85%, var(--surface-4));
    }

    div.form form {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 1rem;
    }

    .cip-main form div.input {
        width: 100%;
        height: 4.5rem;
        position: relative;
        display: flex;
        flex-direction: column;
    }

    form div.input:nth-child(6) {
        height: 9rem;
    }

    form div.input label {
        position: absolute;
        font-size: .9rem;
        color: var(--text-2);
        top: 1.75rem;
        left: 1.4rem;
        transform: translateY(-50%);
        transition: all .3s ease;
        cursor: text;
    }

    form div.input :where(input, textarea) {
        width: calc(100% - 2.3rem);
        padding: 0 1rem 0 1.3rem;
        background-image: linear-gradient(to right bottom, var(--surface-4), var(--surface-4));
        outline: 2px solid var(--surface-2);
    }

    form div.input input:focus,
    form div.input input.not-empty,
    form div.input textarea:focus,
    form div.input textarea.not-empty {
        outline: 1px solid var(--border-line);
        border-bottom: none;
        background: none;
    }

    form div.input input:focus+label,
    form div.input input.not-empty+label,
    form div.input textarea:focus+label,
    form div.input textarea.not-empty+label {
        transform: none;
        padding: 0 .2rem;
        color: var(--text-2);
        background-color: var(--surface-2);
    }

    form div.input .err {
        color: var(--brand);
        font-size: .6rem;
        font-weight: 600;
    }

    form button.submit {
        width: 35%;
        padding: .8rem 0;
        border-radius: .3rem;
        font-weight: 700;
        color: var(--surface-1);
        background-image: linear-gradient(319deg, var(--brand) 0%, #ff6425 63%, #ffcb43 100%);
    }

    form button.submit:hover {
        background-clip: text;
        -webkit-text-fill-color: transparent;
        outline: 1px solid var(--border-line);
        background-image: linear-gradient(319deg, #ffcb43 0%, #ff6425 37%, var(--brand) 100%);
    }

    div.story {
        grid-row: 3 / span 1;
        grid-column: 1 / span 1;

    }

    div.story .review {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    div.story .review p {
        font-size: .8rem;
        font-family: var(--montserrat-italic), sans-serif;
    }

    div.story .review img {
        width: 5rem;
        height: 5rem;
        outline: 3px solid var(--surface-4);
        border: 2px solid var(--border-line);
        border-radius: .5rem;
        float: none;
        margin-left: 0;
    }

    div.story .details {
        display: flex;
        flex-direction: column;
        gap: .3rem;
        position: relative;
    }

    div.story .details::before {
        position: absolute;
        content: '';
        width: 3.5rem;
        height: 4px;
        background-color: var(--border-line);
        top: -1rem;
        left: 0;
        border-radius: 1rem;
    }

    div.story .details .name {
        color: var(--brand);
        font-size: 1rem;
        font-weight: 800;
    }

    div.story .details .role {
        color: var(--text-2);
        font-size: .8rem;
        font-weight: 600;
    }
}

@media only screen and (min-width: 900px) {

    .main section.contact-sect,
    section.cip-main {
        width: calc(90% - 6rem);
        max-width: calc(90% - 6rem);
    }

    section.form-box form {
        width: calc(80% - 2.6rem);
    }
}

@media only screen and (min-width: 1170px) {

    .main section.contact-sect,
    section.cip-main {
        width: calc(80% - 6rem);
        max-width: calc(80% - 6rem);
    }

    section.form-box form {
        width: calc(80% - 2.6rem);
    }
}