.info-container {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: max-content;
    height: auto;
    padding-top: 1.2rem;
    font-size: 0.8rem;
    color: var(--dark-blue);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    z-index: 50;
}

.alert-box {
    width: fit-content;
    max-width: 100%;
    height: fit-content;
    padding: 0 4px;
    margin: 0 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20rem;
    background-color: var(--text-1);
    box-shadow: 2px 2px 30px rgba(0, 0, 0, .2), -2px -2px 30px rgba(0, 0, 0, .2);
}

.alert-box .emoticon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .3rem .4rem .3rem .3rem;
}


.alert-box .txt {
    color: var(--surface-1);
    width: fit-content;
    height: fit-content;
    padding: 6px 10px;
    margin: 0;
    /* border-radius: 0.5rem; */
    /* border-width: 1px;
    border-style: solid;
    border-image: linear-gradient(to bottom, var(--opaq) 1%, var(--surface-1) 50%, var(--opaq) 100%); */
    font-size: 0.65rem;
    position: relative;
    /* z-index: 100; */
    background: var(--text-1);

}

.alert-box .txt::before {
    content: '';
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 1px;
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0) 15%, var(--text-2) 50%, rgba(0,0,0,0) 85%);
}

.alert-box .txt::after {
    content: '';
    position: absolute;
    z-index: 1;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 1px;
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0) 15%, var(--text-2) 50%, rgba(0,0,0,0) 85%);
}

.alert-box .txt em.bold {
    color: var(--brand);
    font-weight: 700;
    font-size: 0.9rem;
}

.success {
    border: 1px solid var(--green);
}

.fail {
    border: 1px solid var(--soft-red);
}

.alert-box .close {
    cursor: pointer;
    padding: .5rem .4rem .3rem .4rem;
}

.alert-box .close svg path {
    fill: var(--surface-4);
}

@media only screen and (min-width: 768px) {
    .info-container {
        top: 86%;
        padding-top: 1.5rem;
    }
}