.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    overflow: hidden;
}

.main .blog-sect {
    width: calc(100% - 4rem);
    max-width: 600px;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
