.page{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--surface-1);
}

.body{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--surface-1);
}