.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.main .unique-sect {
    width: calc(100% - 4rem);
    max-width: 600px;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.unique-sect header {
    width: fit-content;
    position: relative;
    align-self: left;
    z-index: 1;
    font-size: 1.6rem;
    font-weight: 700;
    color: var(--text-1);
    text-align: left;
    border-radius: .5rem;
    margin: 3rem 0 1.5rem;
    padding: .5rem 0;
    line-height: 1.5rem;
}

.unique-sect header::after {
    position: absolute;
    content: '';
    width: 3.5rem;
    height: 4px;
    background-color: var(--border-line);
    bottom: -1rem;
    left: 0;
    border-radius: 1rem;
}

section.content {
    padding: 6rem 2rem 2rem !important;
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
    gap: 2rem;
    background-color: var(--surface-4);
}

section.content article {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

section.content article h1 {
    font-size: 2.5rem;
    line-height: 2.7rem;
    font-weight: 500;
    color: var(--text-1);
}

section.content article div.specifics {
    display: flex;
    flex-direction: column;
}

section.content article div.specifics h3 {
    color: var(--text-1);
    font-size: 1rem;
}

section.content article div.specifics ul {
    list-style: none;
    display: flex;
    flex-direction: column;
}

section.content article div.specifics ul li {
    color: var(--text-2);
    font-size: .9rem;
    position: relative;
}

section.content article div.specifics ul li::before {
    position: absolute;
    left: -2rem;
    content: url(../../../../../public/assets/images/checked.svg);
    width: 1rem;
    height: 1rem;
    margin-right: 0.5rem;
}

div.specific-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1.5rem 1.5rem;
    border-radius: .5rem;
    background-color: var(--surface-1);
}

div.specific-form h3 {
    font-size: 1.3rem;
    font-weight: 500;
    color: var(--text-1);
}

@media only screen and (min-width: 600px) {
    section.content {
        justify-content: center;
        align-items: center;
        padding: 6rem 4rem 3rem !important;
        width: calc(100vw - 8rem) !important;
        max-width: calc(100vw - 8rem) !important;
    }

    section.content article h1 {
        text-align: center;
    }

    section.content article div.specifics {
        justify-content: center;
        align-items: center;
    }

    section.content article div.specifics ul {
        justify-content: center;
        align-items: center;
    }

    div.specific-form h3 {
        text-align: center;
    }

    section.specific-form form {
        display: flex;
        flex-flow: row wrap !important;
        justify-content: space-between;
        gap: 0 1rem;
    }

    section.specific-form form div.input {
        width: 100% !important;
        height: 5rem;
    }

    section.specific-form form div.input:nth-child(5),
    section.specific-form form div.input:nth-child(6) {
        width: 100%;
    }
}

@media only screen and (min-width: 768px) {
    div.specific-form {
        gap: 0 1rem;
        width: calc(70% - 2.6rem);
        padding: 1.5rem 1.3rem;
        border: 1px solid var(--border-line);
        border-radius: .5rem;
        background-image: linear-gradient(to right, var(--surface-2) 85%, var(--surface-4));
    }

    div.specific-form form {
        display: flex;
        flex-flow: row wrap !important;
        justify-content: space-between;
    }

    /* div.specific-form form div.input {
        width: 48%;
        height: 5rem;
    } */

    div.specific-form div.input:nth-child(5),
    div.specific-form div.input:nth-child(6) {
        width: 100%;
    }

    div.specific-form form div.input:nth-child(6) {
        height: 9rem;
        justify-content: flex-start;
    }

    div.specific-form form div.input:nth-child(6) input {
        height: auto;
        padding: 1.2rem 1rem 5rem 1.4rem;
    }
}

@media only screen and (min-width: 900px) {
    section.content {
        width: calc(100% - 4rem) !important;
        max-width: calc(100% - 4rem) !important;
    }

    .main section.unique-sect {
        width: calc(90% - 6rem);
        max-width: calc(90% - 6rem);
    }

    div.specific-form {
        width: calc(50% - 2.6rem);
    }
}

@media only screen and (min-width: 1170px) {

    .main section.unique-sect {
        width: calc(80% - 6rem);
        max-width: calc(80% - 6rem);
    }

    /* div.specific-form {
        width: calc(80% - 2.6rem);
    } */
}